#hdrimg {
  width: fit-content;
  height: 40;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #fafafa;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #f9f9f9;
}

.search-group {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.category-btn {
  background: rgb(240, 239, 239);
  border: none;
  padding: 8px 12px;
  font-weight: bold;
  color: #2b2b2b;
  border-right: 1px solid #ddd;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  border-radius: 6px;
  padding: 10px 0;
}

.dropdown-content a {
  color: #2b2b2b;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  font-weight: 500;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.search-group input {
  border: none;
  padding: 8px 12px;
  outline: none;
  width: 180px;
  color: #555;
}

.search-btn {
  background-color: #8DC63F;
  border: none;
  padding: 8px 12px;
  color: white;
  cursor: pointer;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #2b2b2b;
  font-weight: 500;
}

.nav-links .active {
  background-color: #8DC63F;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart {
  position: relative;
  font-size: 18px;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  padding: 2px 6px;
}

.lang {
  font-weight: 500;
}

.currency {
  border: 1px solid #ddd;
  padding: 6px 10px;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
}

.login-btn {
  padding: 6px 14px;
  border: 1px solid #8DC63F;
  color: #8DC63F;
  background-color: white;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}


